.env
.env.example
docker-compose.yml
Dockerfile
.dockerignore
.idea/
.git/
.github
.pre-commit-config.yaml
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
celerybeat-schedule
tests/
charts/
dashbord/
app.png
README.md
.mypy_cache
mypy.ini
