<!doctype html>
<html lang="en">
<head>
  {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      MIDL.dev Status Page
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="MIDL.dev Status">
    <meta name="author" content="midl.dev">
    <meta name="description" content="MIDL.dev status page for backend infrastructure">
    <link rel="canonical" href="https://status.midl.dev">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://status.midl.dev/">
    <meta property="og:title" content="MIDL.dev Status">
    <meta name="description" content="MIDL.dev status page for backend infrastructure">
    <meta property="og:image" content="https://midl.dev/img/MIDLLOGOBLCK.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://status.midl.dev/">
    <meta property="twitter:title" content="MIDL.dev Status">
    <meta name="description" content="MIDL.dev status page for backend infrastructure">
    <meta property="twitter:image" content="https://midl.dev/img/MIDLLOGOBLCK.png">
  {% endblock %}

  {% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css"
          integrity="sha256-+omx7xYvI+/C0kfnQmjAIW8dDbTweWpbYHWzveX4ii4="
          crossorigin="anonymous">
    <!-- Font Awesome Icons CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
          integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/brands.min.css"
          integrity="sha256-nNY7jOolBFwUYjxTjSZ1JRiljAxoJ5XOatMHiXbGWjc="
          crossorigin="anonymous">
    <style>
      body {
          padding-top: 90px;
      }
    </style>
  {% endblock %}

  <title>{% block title %}{{ config['APP_NAME'] }}{% endblock %}</title>
</head>
<body>

{% include 'partials/navbar.html' %}
<div id="main">
  {% block content %}
  {% endblock %}
</div>

{% block scripts %}
  {% include 'partials/scripts.html' %}
{% endblock %}

</body>
</html>
